.features { 
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
        gap: 24px; padding: 120px 0;
                width: 1440px;
                height: 344px; margin-left: auto;
                        margin-right: auto; }


     .features-box {
             align-items: flex-start;
             justify-content: center;
             flex-direction: row;
             gap: 24px;
             padding: 0 15px;
             width: 1158px;
             height: 104px;
             max-width: 1158px;
     }

.features-list {}

.features-text {width: 264px;
        height: 104px;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 8px;}

.features-headline {
   
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: #2e2f42;
        letter-spacing: 0.02em;
}


       


.feature-p {}

.sr-only {position:absolute;
white-space: nowrap;
width: 1px; height: 1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; padding: 0; margin: -1px; clip-path: inset(100%);}