.footer {background: #2e2f42; 
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0;
    padding: 100px 0;
        width: 1440px;
        height: 312px;
    /* transform: translateY(2350%); */
    margin-left: auto;
        margin-right: auto;
    }
 
  



    .footer-container {padding: 0 15px;
        width: 1158px;
        height: 112px;
        max-width: 1158px;
    
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: row;
            gap: 0;
        /* padding: 0 15px;
            width: 1158px;
        
            max-width: 1158px; */
    }
    
.footer-logo {font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;}
.footer-logo span { font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;}
.footer-text {
    color: #f4f4fd;}
