.header { 
justify-content: flex-start;
border-bottom: 1px solid #e7e9fc;
 
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
        gap: 0;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
 
    align-items: center;
margin: 24px 76px 0px 15px;
    flex-direction: row;
    gap: 0;}


.nav-menu {}


.nav-list {align-items: center;;
justify-content: flex-start;
    flex-direction: row;
        gap: 40px;}





.nav-anchor {
    display: flex;
    align-items: center;
  
    flex-direction: column;
    gap: 0;}

    

a1{ align-items: center;
    justify-content: center;
    flex-direction: column;}

   a2{align-items: center;
            justify-content: center;
            flex-direction: row;
           }

    a3{align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
           }
.nav-anchor-link{padding: 24px 0; gap: 0;}
.nav-anchor-link:hover, .nav-anchor-link:focus {
    color: #404bbf;}


.line:active  {text-decoration-color: #4d5ae5;
    text-decoration: underline;
    color: #404bbf; }
