.hero {
    background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
   
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            gap: 0; margin-left:  auto; margin-right:  auto;
}
.hero-box{padding: 0px 15px;
  
   
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 48px;}




.hero-title {max-width: 496px; 

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
letter-spacing: 0.02em;
font-family: "Roboto", sans-serif;
    text-align: center;
    color: #fff;

}


.btn {
    font-family: "Roboto", sans-serif;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
text-align: center;
    border-radius: 4px;
        padding: 16px 32px;
       
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: 0; border: none;
    /* zaboronyae tekstu perenosytysya white-space: nowrap; ,,padding: 16px 32px; width: 169px;
        max-width: 169px;
        height: 56px;   */
    
}

.btn:hover, .btn:focus {
    font-family: "Roboto", sans-serif;
    color: #fff;
    background: #404bbf;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
text-align: center;
    
}